@model WebBookStore.Models.Sach

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>EDIT BOOK</h2>

@using (Html.BeginForm("EditBook", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MaSach)
        <div class="form-group">
            <label class="control-label col-md-2" for="TenSach">ID</label>
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.MaSach</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="TenSach">Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSach)
                @Html.ValidationMessageFor(model => model.TenSach)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="GiaBan">Price</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GiaBan)
                @Html.ValidationMessageFor(model => model.GiaBan)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MoTa">Discription</label>
            <div class="col-md-10">
                <textarea name="MoTa"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="AnhBia">Image</label>
            <div class="col-md-10">
                <input type="file" name="fileupload" />
                <img src="@Url.Content("/product_imgs/"+ Model.AnhBia)" width:120px />
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="NgayCapNhap">Update date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayCapNhat)
                @Html.ValidationMessageFor(model => model.NgayCapNhat)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="SoLuongTon">Quantity</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoLuongTon)
                @Html.ValidationMessageFor(model => model.SoLuongTon)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MaNXB">Publisher</label>
            <div class="col-md-10">
                @Html.DropDownList("MaNXB")
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MaCD">Topic</label>
            <div class="col-md-10">
                @Html.DropDownList("MaCD")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Book")
</div>