@using WebBookStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<WebBookStore.Models.Sach>

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Admintrator";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>MANAGEMENT OF BOOK INFORMATION</h2>

<p>
    @Html.ActionLink("Create New", "ThemmoiSach")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px; text-align:center"> Title </th>
        <th style="width:100px; text-align:center"> Price </th>
        <th style="width:300px; text-align:center"> Discription </th>
        <th style="width:150px; text-align:center"> Image </th>
        <th style="width:100px; text-align:center"> Update </th>
        <th style="width:120px; text-align:center"> Quantity </th>
        <th style="width:100px; text-align:center"> Topic </th>
        <th style="width:200px; text-align:center"> Publishing </th>
        <th style="width:300px; text-align:center">  </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Truncate(item.MoTa, 100)
            </td>
            <td>
                <img style="max-height: 150px" src="@Url.Content("~/product_imgs/"+ item.AnhBia)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChuDe.TenChuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaXuatBan.TenNXB)
            </td>
            <td>
                @Html.ActionLink("Edit", "Suasach", new { id = item.MaSach }) |
                @Html.ActionLink("Details", "Chitietsach", new { id = item.MaSach }) |
                @Html.ActionLink("Delete", "Xoasach", new { id = item.MaSach })
            </td>
        </tr>
    }
</table>
@*Create linked paged*@
Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="Menupage">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .Menupage li {
        display: inline;
    }
</style>

