@model WebBookStore.Models.Sach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>CONFIRMATION OF BOOK INFORMATION TO DELETE</h2>
<h4 style="color:red; font-style:italic">Did you decide to delete this book?</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSach)
        </dd>

        <dt>
            Price:
        </dt>
        <dd>
            @String.Format("{0:0,0}", Model.GiaBan) $
        </dd>

        <dt>
           Dícription:
        </dt>
        <dd style=" width:600px; text-align:justify">
            @Html.DisplayFor(Model => Model.MoTa)
        </dd>

        <dt>
            Img:
        </dt>
        <dd>
            <img src="@Url.Content("/product_imgs/"+ Model.AnhBia)" width="200px" />
        </dd>

        <dt>
            Update:
        </dt>
        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.NgayCapNhat)
        </dd>

        <dt>
            Quantity:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            Topic:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChuDe.TenChuDe)
        </dd>

        <dt>
            Publishing:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NhaXuatBan.TenNXB)
        </dd>
    </dl>
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-action no-colors">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Return", "Sach")
        </div>
    }
</div>