<style>
    .dathang {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        font-weight: bold;
        float: right;
    }
.dathang:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
</style>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>BOOK DETAILS </h2>
<h3 style="font-weight: bold;">Title: @Model.TenSach</h3>

<div class="col-sm-6 col-lg-6 col-md-6">
    <div>
          <img alt="@Model.TenSach" width="100%" src="~/product_imgs/@Model.AnhBia" />       
    </div>
</div>

<div class="col-sm-6 col-lg-6 col-md-6">
    <div>
        <p style="color:#ff0000; font-size:25px"> DESCRIPTION: </p>
        <p style="text-align:justify"> @Model.MoTa  </p>
</div>
    <div>
        <p style="color:#ff0000; font-size:25px"> PRICE: @Model.GiaBan USD   </p>
        
    </div>
    <div class="dathang">
        <a style="color: crimson " href="@Url.Action("AddTocard", "ShoppingCard", new {id = Model.MaSach })">ORDER NOW</a>
    </div>
</div>

