
@using WebBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Sach>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align:center; color:red">NEW BOOK</h3>
<div class="row">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "BookStore", new {id = sach.MaSach})">
                    <img alt="@sach.TenSach" src="~/product_imgs/@sach.AnhBia" />
                    <span>@sach.TenSach</span>
                </a>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
Page @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="Menupage">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    .Menupage li {
        display: inline;
    }
</style>
