
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h4 style="color:red">@ViewBag.ThongBao</h4>
<table align="center">
    <h2 align="center">LOGIN</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>
                User:
            </td>
            <td>
                @Html.TextBox("TenDN")
                @ViewData["Error1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                Password:
            </td>
            <td>
                @Html.Password("Matkhau")
                @ViewData["Error1"]
            </td>
        </tr>
        <tr style="height:1px">
            <td>
            </td>
            <td>@Html.ActionLink("For Administrators", "Login", "Admin")</td>
        </tr>
        <tr style="height:40px">
            <td>
            </td>
            <td>
                <input type="submit" value="Login" />
            </td>
        </tr>

    }
</table>

