
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<script>

    $(function () {
        $("#myform").validate(
            {
                rules:
                {
                    email:
                    {
                        required: true,
                        email: true
                    }
                }
            });
    });


    function onChange() {
        const password = document.querySelector('input[name=Matkhau]');
        const confirm = document.querySelector('input[name=Matkhaunhaplai]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        }
        else {
            confirm.setCustomValidity('Passwords do not match');
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>


<table align="center">
    <h2 align="center">REGISTER MEMBER</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>
                Fullname:
            </td>
            <td>
                <input name="HotenHK" placeholder="Nguyen Van A" type="text"  />
                @ViewData["Error1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                User:
            </td>
            <td>
                <input name="TenDN" placeholder="e.g: nguyendeptrai" type="text"  />
                @ViewData["Error2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                Password:
            </td>
            <td>
                <input name="Matkhau" type="password" onChange="onChange()" />
                @ViewData["Error3"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                Confirm Password:
            </td>
            <td>
                <input name="Matkhaunhaplai" type="password" placeholder="Retype password" onChange="onChange()" />
                @ViewData["Error4"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                Email:
            </td>
            <td>
                <input type="email" name="Email" placeholder="abc@xyz.org" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$">
                @ViewData["Error5"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                Phone:
            </td>
            <td>
                <input type="tel" name="Dienthoai" placeholder="0123****789" pattern="^(0[123456789][0-9]{8}|1[89]00[0-9]{4})$" />
                @ViewData["Error6"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                Address:
            </td>
            <td>
                <input name="Diachi" type="text"  />
            </td>
        </tr>
        <tr style="height:40px">
            <td>
                Birthday:
            </td>
            <td>
                <input type="date" name="Ngaysinh" min="1930-01-01" max="2050-12-31"  />
            </td>
        </tr>
        <tr style="height:40px">
            <td>
            </td>
            <td>
                <input type="submit" />
            </td>
        </tr>
    }

</table>

